// 기본 변수
$container: 1440px;
$gutter: 30px;


// 컬럼 크기 제어
$columns: (
	'1': 8.333333%,
	'2': 16.666666%,
	'3': 25%,
	'4': 33.333333%,
	'5': 41.666666%,
	'6': 50%,
	'7': 58.333333%,
	'8': 66.666666%,
	'9': 75%,
	'10': 83.333333%,
	'11': 91.666666%,
	'12': 100%
);
