@charset 'UTF-8';

// 공통 값 import
@import './helpers/variables';


// 기본값
.container {
	display: flex;
	flex-direction: column;
	margin: {
		left: auto;
		right: auto;
	}
	padding: {
		left: #{$gutter / 2};
		right: #{$gutter / 2};
	}
	width: $container;

	&.reverse {
		flex-direction: column-reverse;
	}

	&.row {
		flex-direction: row;

		&.reverse {
			flex-direction: row-reverse;
		}
	}

	&-fluid {
		@extend .container;
		width: inherit;
	}
}

.row {
	display: flex;
	flex-direction: column;
	margin-left: -#{$gutter / 2};
	margin-right: -#{$gutter / 2};

	&.reverse {
		flex-direction: column-reverse;
	}

	&.row {
		flex-direction: row;

		&.reverse {
			flex-direction: row-reverse;
		}
	}

	&-hidden {
		display: none;
	}
}


// 기본 제어
@each $key, $value in $columns {
	.col-#{$key}, .col-offset-#{$key},
	.col-tb-#{$key}, .col-tb-offset-#{$key},
	.col-mo-#{$key}, .col-mo-offset-#{$key},
	.col-sm-#{$key}, .col-sm-offset-#{$key} {
		flex: 1 1 auto;
		padding-left: #{$gutter / 2};
		padding-right: #{$gutter / 2};
		min-height: 1px;
	}

	.col-#{$key} { width: #{$value}; }
	.col-offset-#{$key} { margin-left: #{$value}; }
}
