// helpers
@import './helpers/mixins';
@import './helpers/variables';

// pages
#main {
	flex: 1 1 auto;
}

.sec-slider {
	background-color: #fff;

	.swiper-wrapper {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 800px;
		height: 70vh;
		background-size: cover;
		background-color: #fff;

		&.has-overlay {
			& > .container {
				position: relative;
				z-index: 2;
			}

			&::after {
				content: '';
				@include fullscreen();
				background-color: rgba(0, 0, 0, 0.5);
			}
		}
	}

	.slider-01 {
		color: #fff;

		.title {
			font-size: 36px;
			font-weight: 300;
			line-height: 52px;
			letter-spacing: 10px;
		}

		.desc {
			margin-top: 30px;
			font-size: 24px;
			font-weight: 100;
			line-height: 35px;
		}
	}

	.slider-02 {
		font-size: 72px;
		font-weight: 100;
		color: #fff;
		line-height: 104px;
		letter-spacing: 30px;

		.inner-wrap {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.slider-03 {
		border-bottom: 1px solid #ddd;

		.content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;

			.title {
				font-size: 36px;
				font-weight: 100;
				line-height: 52px;
				letter-spacing: 20px;
			}

			.desc {
				margin-top: 40px;
				font-size: 18px;
				font-weight: 100;
				line-height: 34px;
				letter-spacing: 2px;
			}
		}
	}
}

.sec-project {
	padding: 100px 0 150px;

	.sec-header {
		.title {
			font-size: 34px;
			font-weight: 100;
			line-height: 49px;
			letter-spacing: 10px;
		}
	}

	.sec-container {
		margin-top: 60px;

		// zoom-in
		.zoom-in {
			position: relative;
			height: 320px;
			background: {
				size: cover;
				position: top left;
			}

			.overlay {
				position: absolute;
				bottom: 0;
				left: 0;
				display: grid;
				grid-template-columns: 1fr 70px;
				grid-template-rows: 1fr 1fr;
				grid-template-areas:
					'title external'
					'desc  external'
				;
				padding-left: 30px;
				width: 100%;
				height: 100px;
				font-weight: 700;
				color: #fff;
				background-color: rgba(0, 0, 0, 0.5);

				.title {
					grid-area: title;
					display: flex;
					align-items: flex-end;
					font-size: 18px;
					line-height: 26px;
				}

				.desc {
					@include text-ellipsis();
					grid-area: desc;
					margin-top: 10px;
					width: 100%;
					font-size: 14px;
					line-height: 20px;
				}

				.external {
					grid-area: external;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 20px;
					line-height: 23px;
				}
			}
		}

		// swiper
		.slider-area {
			padding-top: 60px;
			overflow: hidden;
		}

		.slider-inner {
			width: 200px;
		}

		.swiper-container {
			overflow: visible;
		}

		.swiper-wrapper {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		.swiper-slide {
			height: 200px;
			background-size: cover;
			background-position: top left;
			border: 1px solid #ddd;
			cursor: pointer;

			&-active {
				border-color: #555;
			}
		}

		.slider-navigation {
			position: relative;

			.arrows {
				position: absolute;
				bottom: 75px;
				z-index: 10;
				display: block;
				transition: all 0.3s;

				&:hover {
					background-color: rgba(241, 241, 241, 0.9);
				}
			}

			.prev {
				display: none;
				left: 0;
			}

			.next {
				right: -25px;
				padding-left: 3px;
				width: 50px;
				height: 50px;
				background-color: rgba(241, 241, 241, 0.5);;
			}
		}
	}
}

.sec-team {
	padding: 100px 0 136px;
	background-color: #f1f1f1;

	.sec-header {
		.title {
			font-size: 34px;
			font-weight: 100;
			line-height: 49px;
			letter-spacing: 10px;
		}
	}

	.sec-container {
		margin-top: 60px;

		.tab-content {
			ol {
				display: flex;
				margin: 0;
				padding: 0;
				height: 100%;
				list-style: none;
			}

			li {
				flex: 0 0 auto;
				position: relative;
				padding: 40px 15px 10px;
				width: calc(100% / 3);

				&:not(:last-child) {
					&:after {
						content: '';
						@include position('vertical');
						right: 0;
						width: 1px;
						height: 100px;
						background-color: #ddd;
					}
				}
			}
		}
	}
}

.sec-contact {
	padding: 100px 0 95px;

	.form {
		fieldset {
			margin: 0;
			padding: 0;
			border: 0;
		}
	}

	.form-row {
		&:not(:last-child) {
			margin-bottom: 30px;
		}

		label {
			display: block;
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
			letter-spacing: 2px;
		}

		input, textarea {
			@include placeholder {
				color: #aaa;
				letter-spacing: 2px;
			}
			margin-top: 10px;
			padding: 0 20px;
			width: 100%;
			height: 40px;
			font-size: 13px;
			font-weight: 300;
			line-height: 19px;
			color: #333;
			background-color: #fff;
			border: 1px solid #ddd;

			&:focus {
				border-color: #aaa;
				outline: none;
			}
		}

		input {
			max-width: 331px;
		}

		textarea {
			padding: 20px;
			min-height: 89px;
			resize: vertical;
		}

		&-button {
			display: flex;
			justify-content: flex-end;
			margin-top: 40px;

			button {
				padding: 0 20px;
				min-width: 200px;
				height: 40px;
				font-size: 13px;
				font-weight: 300;
				color: #fff;
				letter-spacing: 2px;
				background-color: #3C59E5;
				transition: all 0.3s;

				i {
					margin-left: 10px;
				}

				&:hover {
					background-color: #3B53C4;
				}
			}
		}
	}
}
